

/* self-clearing floats*/
	.work:after,
    .section:after,
  
   {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

.page {
	width:100%;
	font: normal 100% Arial;
	margin: 0 auto;
}

*,
*:before,
*:after { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box;
}

@font-face {
    font-family: 'Sketch Block';
    src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot');
    src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff') format('woff'),
         url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf') format('truetype'),
         url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold') format('svg');
}


/*-----------------HEADER-----------------------------*/


.header {
	width:100%;
	background: url("./background.jpg") no-repeat;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: -25px 0;
	height: 400px;
}

.bubble {
	width: 70%;
	padding-left: 15%;
	padding-top: 5%;

}

h1 {
	color: #735a50;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
	font-family: 'Sketch Block','Cabin Sketch';
    font-size: 7.6em;

}



/*-----------------NAV-------------------------------*/
.menu {
font: normal 1.1em arial; 
text-align:center;
width: 90%;
margin:0 auto;
margin-top: 20px;


}

.menu li{
	display:inline-block;


	

}

ul.menu li  {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin: 1px;
    white-space: nowrap;
    padding-left:1px;
    padding-right:1px;
    margin-bottom: 20px;

}


a {
	border: white solid 2px; border-radius: 5px;
	background-color: white;
	text-decoration: none;
	color: #534e4e;
	padding: 0.4em 0.4em 0.2em;
	margin: 2px;

}

a:hover {
	color: #534e4e;
	border-radius:10%;
}

.menu li.active a {
color: #534e4e;
border-radius: 10%;
border: solid 3px #735a50;
}


/*-------GALLERY-----------*/

.gallery {

	width:95%;
	margin: 30px auto;

}

.figure {
	float:left;
	width:29%;
	height:30%;
	margin: 0 3.317535545023696682% 1.5em 0;			/* 21px / 633px */
	text-align: center;
}

.figure img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
	display: block;
	margin: 0 auto 1em;
	width:100%;
	height:90%;
	text-align: center;
}


li#gnomes1 {
	margin-left: 3%;

}

li#gnomes3 {
	margin-right: 0;
}

#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 275px;
}

.figure a 
			{
	width: 100%;
	
	float:left;
	margin: 1.9%;
	position:relative;

}


 h2 {
 	position: absolute;
	top: 30px; 
	font-size: 1.5em;
   	font-family:'Sketch Block','Cabin Sketch';
   	color: #735a50;
  	background-color: rgba(255,255,255,0.7);
  	width: 90%;
  	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}




/*--FOOTER---------------*/
.footer {
	text-align: center;
	color:#735a50;
	font-size: 0.5em;
	padding-bottom: 5%;
	padding-top: 5%;
	clear:both;

}

.footer p {
	color: #534e4e;
	font-size: 1em;
}

.footer a {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color:#735a50;
}

/*-MEDIA QUERIES----------------------------------------------------------------------*/

/*Disable iOS/WinMobile font size changes*/

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


/* Blog style for: OMFHUGE*/
/*1200++ is laptop and bigger--------------------------------------------------*/
@media  (min-width: 75.0625em) {

/*-----------------HEADER-----------------------------*/


.bubble {
	width: 70%;
	padding-left: 6%;
	padding-top: 5%;

}
h1 {
	font-size: 8em;
}

.header {

    background-position: 0px 0;

}


#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 375px;

}

.footer {
	font-size: 1.2em;
	padding-bottom:2%;
}

.gallery {

	width:95%;
	margin: 60px auto;
}

}

/*1400++ is laptop and bigger--------------------------------------------------*/
@media  (min-width: 87.5em) {


.bubble {
	width: 60%;
	padding-left: 15%;
	padding-top: 2%;
}



.gallery {

	width:95%;
	margin: 90px auto;
}
}

/*1400++ is laptop and bigger--------------------------------------------------*/
@media  (min-width: 87.5em) {

h1 {

    font-size: 9em;

}


#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 400px;
}

h2 {
 	
	font-size: 2em;
   	
   	
  	width: 90%;
  	
}

}
/*-----------------HEADER-----------------------------*/

/*-MAX-WIDTH 360PX---------------TINY TINY-----------PURPLE------------------------------------*/
@media screen and (max-width: 22.5em){

/*----------HEADER------------------------------------------*/

.bubble {
	width: 70%;
	padding-top: 7%;
}

h1 {
    font-size: 3.5em;

}

.header {
	
	background: url("./background2.jpg") no-repeat;
	background-position: -390px -400px;


}

/*-----------NAV----------------------------*/

.nav-primary {
font: normal 0.9em arial; 
text-align:center;
width: 100%;

}

/*-------------------Gallery------------------*/

/*-------GALLERY-----------*/

.gallery {

	width:95%;
	margin: 10px auto;

}

.figure {
	float:none;
	width:100%;
	height:30%;
	margin: 0 0% 1.5em 0;			/* 21px / 633px */
	text-align: center;
}

.figure img {
	
	margin: 0 auto 1em;
	width:90%;
	height:90%;
	text-align: center;
}


li#gnomes1 {
	margin-left: 0%;

}

li#gnomes3 {
	margin-right: 0;
}

#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 250px;

}

.figure a 
			{
	width: 100%;
	max-width: 375px;
	float:none;
	margin: 0%;
	display:inline-block;

}


 h2 {

	font-size: 1.5em;
  	width: 80%;
  	left:22px;
}
}

/*-MAX-WIDTH 480PX---------------NOT SURE---------------GREEN--------------------------------*/
@media screen and (min-width: 22.506875em)  and (max-width: 30em){

/*----------HEADER------------------------------------------*/

.bubble {
	width: 70%;
	padding-top: 5%;
}

h1 {
    font-size: 4em;

}

.header {
	
	background: url("./background2.jpg") no-repeat;
	background-position: -300px -400px;


}

/*-----------NAV----------------------------*/
/*-----------NAV----------------------------*/

.nav-primary {
font: normal 0.9em arial; 
text-align:center;
width: 100%;

}

/*-------------------Gallery------------------*/

/*-------GALLERY-----------*/

.gallery {

	width:95%;
	margin: 10px auto;

}

.figure {
	float:none;
	width:100%;
	height:30%;
	margin: 0 0% 1.5em 0;			/* 21px / 633px */
	text-align: center;
}

.figure img {
	
	margin: 0 auto 1em;
	width:90%;
	height:90%;
	text-align: center;
}


li#gnomes1 {
	margin-left: 0%;

}

li#gnomes3 {
	margin-right: 0;
}

#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 300px;

}

.figure a 
			{
	width: 100%;
	max-width: 375px;
	float:none;
	margin: 0%;
	display:inline-block;

}


 h2 {

	font-size: 1.5em;
  	width: 80%;
  	left:22px;
}

}

/*-MAX-WIDTH 768PX---------------------------------PINK-----------------------------*/
@media screen and (min-width: 30.006875em) and (max-width: 48em){
	/*----------HEADER------------------------------------------*/

.bubble {
	width: 80%;
	padding-top: 5%;
	padding-left:8%;

}

h1 {
    font-size: 5.5em;

}

.header {
	
	background: url("./background2.jpg") no-repeat;
	background-position: -300px -400px;


}

/*-----------NAV----------------------------*/
/*-----------NAV----------------------------*/

.nav-primary {
font: normal 1.1em arial; 
text-align:center;
width: 100%;

}

/*-------------------Gallery------------------*/

/*-------GALLERY-----------*/

.gallery {

	width:95%;
	margin: 10px auto;

}

.figure {
	float:none;
	width:100%;
	height:30%;
	margin: 0 0% 1.5em 0;			/* 21px / 633px */
	text-align: center;
}

.figure img {
	
	margin: 0 auto 1em;
	width:90%;
	height:90%;
	text-align: center;
}


li#gnomes1 {
	margin-left: 0%;

}

li#gnomes3 {
	margin-right: 0;
}

#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 300px;

}

.figure a 
			{
	width: 100%;
	max-width: 375px;
	float:none;
	margin: 0%;
	display:inline-block;

}


 h2 {

	font-size: 1.5em;
  	width: 80%;
  	left:22px;
}

}

/*-MAX-WIDTH 900PX--------------------------------------------------------------*/
@media screen and (min-width: 48.00625em) and (max-width: 56.25em){

.bubble {
	width: 80%;
	padding-top: 5%;
	padding-left:8%;

}

h1 {
    font-size: 6em;

}

.header {
	
background-position: -300px 0;


}

/*-----------NAV----------------------------*/

.nav-primary {
font: normal 1.1em arial; 
text-align:center;
width: 100%;

}


#gnomes1 img,
#gnomes2 img,
#gnomes3 img {
	height: 250px;

}


h2 {

	font-size: 1.4em;
  	width: 90%;
  	
}
	}

